body, h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans', sans-serif;
}

body{
  font-size: 12px;
  background-color: #fff;
  color: #27272e;
}

a {
color: inherit;
text-decoration: none;
}

a:hover {
color: inherit;
text-decoration: none;
}

#splashScreen{
  text-align: center;
  color: #808086;
  padding-top:3em;
  background-color: #fff;
}

#splashScreen img{
  width:30%;
}

#splashScreen h1{
  font-weight: bold;
  font-size:50px;
}

#splashScreen span{
  color: #808086;
}




div#idp_screens{
  -webkit-overflow-scrolling: touch;
  overflow:hidden;
  display: none;
  position: absolute;
  z-index:2000; // on top!
  left:0px;
  right:0px;
  margin-left: auto;
  margin-right: auto;
  width: 365px;;
  height: 520px;
  opacity: 1;
  background-color: whitesmoke;
  top: 30px;
  box-shadow: 3px 3px 10px #808086;
}

div#idp_screens.show{
  display: block;
  position: absolute;
  z-index:10000;
  left:0px;
  right:0px;
  margin-left: auto;
  margin-right: auto;

}


#idp_frame{
    border:0px;
}

.navbar-brand{
    padding:10px;
}

.navbar-collapse{
    padding-top: 36px;
}


.nav.navbar-nav  {
    font-size: 14px;
}



.nav.navbar-nav.navbar-right  {
    font-size: 14px;
}

.nav.navbar-nav  .active  a
{
    background-color:#fff;
    color:#eda432!important;
}


.nav.navbar-nav  .active a:hover
{
    background-color:inherit;
}
.nav.navbar-nav  a:hover
{
    background-color:#fff;
    color:#eda432!important;
}


.navbar-default {
    background-color: #fff;
    padding:0;
}

.navbar-default .navbar-nav > li > a {
    color:rgb(10,10,10)
}

.icon-user{
  color: #eda432;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
/* color: #ffffff; */
background-color: transparent;
}


.navbar .nav  > li > a:hover {
  color: #7d7d90;
}
.navbar .nav  > li.dropdown.open > .dropdown-toggle {
  background-color: transparent;
  color: #7d7d90;
}



.nav-tabs{
  border-bottom:0;
}





#main-menu {
  background: #5B5A5D;
  border-bottom: 0px;
  position: relative;
  padding-bottom: 2px;
  z-index: 1;
}

#main-menu .nav-tabs  > li {
  margin-left: .5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #8A8A8A;
}

#main-menu .nav-tabs  > li  > a.enabled {
  background: #f3f3f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f3f3f5), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #f3f3f5, #ffffff);
  background: -moz-linear-gradient(center bottom, #f3f3f5 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #f3f3f5, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#dddde2', EndColorStr='#f9f9f9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#f3f3f5')";
  color: #232213;
  text-shadow: 1px 1px 0px #fff;
  margin: 0px;
  border-bottom: 0px;
  border: 1px solid #b6b6c1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0px 1px 0px #ffffff;
  -moz-box-shadow: inset 0px 1px 0px #ffffff;
  box-shadow: inset 0px 1px 0px #ffffff;
}



#main-menu .nav-tabs  > li  > a.enabled:hover {
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #F7D513),
	color-stop(0, #FFFFED)
);
background-image: -o-linear-gradient(bottom, #F7D513 0%, #FFFFED 0%);
background-image: -moz-linear-gradient(bottom, #F7D513 0%, #FFFFED 0%);
background-image: -webkit-linear-gradient(bottom, #F7D513 0%, #FFFFED 0%);
background-image: -ms-linear-gradient(bottom, #F7D513 0%, #FFFFED 0%);
background-image: linear-gradient(to bottom, #F7D513 0%, #FFFFED 0%);
}



#main-menu .nav-tabs  > li  > a {
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #F2F2F2),
	color-stop(0.81, #616E6E)
);
background-image: -o-linear-gradient(bottom, #F2F2F2 0%, #616E6E 81%);
background-image: -moz-linear-gradient(bottom, #F2F2F2 0%, #616E6E 81%);
background-image: -webkit-linear-gradient(bottom, #F2F2F2 0%, #616E6E 81%);
background-image: -ms-linear-gradient(bottom, #F2F2F2 0%, #616E6E 81%);
background-image: linear-gradient(to bottom, #F2F2F2 0%, #616E6E 81%);
color: #494336;
border:0;
}







#main-menu .nav-tabs  > li.active {
  margin-bottom: 0px;
  border: 0px;
  border-bottom: 1px solid #8A8A8A;
  overflow: hidden;
}
#main-menu .nav-tabs  > li.active  > a {
  background: #FBC500;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FBC500), color-stop(1, #FFE500));
  background: -ms-linear-gradient(bottom, #FBC500, #FFE500);
  background: -moz-linear-gradient(center bottom, #FBC500 0%, #FFE500 100%);
  background: -o-linear-gradient(bottom, #FBC500, #FFE500);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#dddde2', EndColorStr='#f9f9f9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFE500',EndColorStr='#FBC500')";
  -webkit-box-shadow: inset 0px 1px 3px rgba(32, 75, 97, 0.6);
  -moz-box-shadow: inset 0px 1px 3px rgba(32, 75, 97, 0.6);
  box-shadow: inset 0px 1px 3px rgba(32, 75, 97, 0.6);
  text-shadow: none;
  color: #9A2E2E;
  border: 1px solid #B9ACAC;
  border-bottom: 1px solid #B9ACAC;
  border-top: 1px solid #B9ACAC;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
color: #ffffff;
text-decoration: none;
background-color: #835900;
}


#phone-navigation {
padding: .5em 0em;
background-color:rgb(242, 242, 242);
}
#phone-navigation a{
    display:none;
}

#phone-navigation a.enabled{
    display:inherit;
}

.nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: #F9C000;
}


.form-control {
font-size: 12px;
}







.twitter .fullname{
font-weight: bold;
}
.twitter .username{
font-weight: normal;
}

.twitter .hashtag{
color: #F9C000;
}


.btn-eco {
  background-color: #DBA530;
  border: 1px solid #936615;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
}

a.btn-eco {
    color:#232213;
    font-weight:bold;
}

.eco-course-title{
    font-weight: bold;
    margin-bottom: 1em;
}

.eco-course-title p{
    margin: 0;
}
.eco-course-attendedon{
    font-weight: normal;
    font-size: smaller;
    font-style: italic;
    margin-bottom: 0;
}

.eco-course-progress{
    color: #f89406;
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 0px;
}
.eco-course-progress p{
    float:left;
    margin-right:1em;
    line-height: 1.6em;
}

.sidebar .widget {
margin-top: 0;
}

.content{
margin-left: 0;
}

#sidebar-nav{
    display: none !important;
}

.btn-disabled{
    cursor: not-allowed;
    color:#fff;
}

.eco-usermenu{
    display: none !important;
}


.eco-login{
    margin-top:1em;
    margin-right:1em;
}

.eco-login a{
    color: #232213;
    text-decoration: underline;
}

.eco-welcome {
    float:right;
    margin-bottom:2px;
    color: #FBC500;
}

.eco-welcome-phone {
    color: #5B5A5D;
    font-weight: bold;
    padding-left:15px;
}

.post-title{
  color: #F9C000;
}

.media-box{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.main_banner {
background-size: cover;
background-position: 50% 84%;
}

.main_banner .color_back {
color: #ffffff;
text-align: center;
padding: 11px 40px 50px 0px;
}


.main_banner h2{
    color:#FEDD00;
}

.main_banner div.e-slogan{
    padding-left: 25%;
    padding-right: 25%;
}

.main_banner div.e-slogan h1{
    background-color: #0a0000!important;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #eaaf31;
    border-radius: 2px;
    padding: 13px 17px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    font-size: 1.8em;
    transition: border-color 0.2s linear, background-color 0.2s linear;
    -moz-transition: border-color 0.2s linear, background-color 0.2s linear;
    -o-transition: border-color 0.2s linear, background-color 0.2s linear;
    -webkit-transition: border-color 0.2s linear, background-color 0.2s linear;
    margin-bottom: 30px;

}



ul.inline {
display: inline-block;
}

.inline, ul.inline li {
display: inline;
}


.e-coursefilter{
  margin-top:20px;
}

.e-coursefilter .nofilter{
    font-style: italic;
    cursor: pointer;
    color: #eaaf31;
    font-weight: bold;
    padding-top:7px;

}

.e-coursefilter .e-filteron{
font-style: italic;
    cursor: pointer;
    color: #eaaf31;
    font-weight: bold;
    padding-top:7px;
}



.e-courselist{
    padding-top: 20px;
    text-align: center;
}


.e-course{
position: relative;
width: 280px;
height: 339px;;
margin: 0 25px 25px 0px;
padding: 5px 0px 0px 0px;
box-shadow: 1px 1px 5px #808086;
cursor: pointer;
background-color: #ffffff;
display: inline-block;
text-align: left;
float: left;
}

.e-course:hover{
box-shadow: 4px 4px 7px #808086;
background-color: #dddddf;

}
.e-course-inside{
position: absolute;
top: 0;
bottom: 0;
left: 0px;
right: 0px;
background-color: #ffffff;
}

.e-course-inside .front_face .images{
  position:relative;
}

.e-course-inside .front_face .images {
display: block;
width: 100%;
height: 144px;
border-bottom: 4px solid #27272e;
background-size: cover;
background-position: 50% 50%;
}

.hide-text {
    font-size: 0;
}

.e-course-inside  .front_face .content {
padding: 18px 18px 20px;
background: #ffffff;
border-top: 1px solid #dddddf;
}

.e-course-inside .front_face .content h3 {
font-size: 12px;
font-weight: 400;
text-transform: uppercase;
line-height: 1em;
color: #55555d;
margin: 0;
float: none;
}


.e-course-inside .front_face .content h2 {
font-size: 22px;
font-weight: 300;
color: #27272e;
margin: 8px 0 0 0;
padding-bottom: 4px;
position: relative;
overflow: hidden;
line-height: 22px;
max-height: 69px;
padding-bottom: 1px;
display: block;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}


.e-course-inside .front_face .content h2:after {
content: "";
text-align: right;
position: absolute;
top: 44px;
right: 0;
width: 50%;
height: 22px;
background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
}

.line-clamp:after {
display: none;
}

.e-course-inside .front_face .content .date {
display: inline-block;
font-size: 12px;
text-transform: uppercase;
color: #27272e;
background-color: #eaaf31;
margin-top: 10px;
padding: 1px 5px;
}

.e-course-inside .e-course-dateSticker {
display: inline-block;
font-size: 14px;
text-transform: uppercase;
color: #55555d;
font-weight: 600;
background-color: rgb(241, 241, 241);
font-style: italic;
-webkit-transform: rotate(352deg);
-moz-transform: rotate(352deg);
-o-transform: rotate(352deg);
transform: rotate(352deg);
writing-mode: lr-tb;
position: relative;
top: -14px;
left: 10px;
opacity: 0.7;
z-index: 10;
}

.e-course .e-social-banner{
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 25px;
}


.e-mycourse .e-social-banner ul{
  text-align: left;
  margin-left: 0px;
  margin-top: 10px;
}

.e-social-banner ul{
  display: block;
  margin-left: 18px;
  padding: 0px 10px 0px 0px;
  position: relative;
  top: -7px;
  #text-align: center;
}

.e-social-banner ul li{
  display: inline;
  margin-right:4%;
}

.e-social-banner ul li a{
  color: #eaaf31;
  font-size: 2.5em;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  text-decoration: none;
}

.e-social-banner ul li a:hover {
  color: #58585B;
  text-decoration: none;
}

.e-social-banner ul li a:focus {
  text-decoration: none;
}


.courseDetails{
font-size: 16px;
}

.courseDetails .title{
color: #27272e;
font-size: 24px;
font-weight: 500;
margin-top:10px;
margin-bottom:20px;
}

.courseDetails .summary dl{
margin-top:0px;
}


.courseDetails .summary dl img {
float: left;
margin-right: 10px;
width: 26px;
height:26px;
}

.courseDetails .summary dl dt {
color: #55555d;
font-size: 12px;
text-transform: uppercase;
font-weight: normal;
}


.courseDetails .summary dl dd {
color: #27272e;
font-size: 16px;
padding-bottom: 5px;
border-bottom: 1px solid #ccccce;
margin-bottom: 12px;
font-weight: normal;
}

.courseDetails .summary dl dd ul {
list-style: none;
padding-left: 0px;
}

.courseDetails .summary dl dd li {
list-style: none;
}

.courseDetails .info {
color: #55555d;
}

.courseDetails .info h2 {
font-size: 14px;
text-transform: uppercase;
color: #27272e;
margin: 22px 0;
}

.courseDetails .e-course-dateSticker {
display: inline-block;
font-size: 14px;
text-transform: uppercase;
color: #27272e;
font-weight: 500;
background-color: #eaaf31;
font-style: italic;
margin-bottom:10px;
padding:0px 5px 0px 0px;
}


.k-invalid-msg{
color: red;
}

.form-group {
margin-bottom: 10px;
}

div.form-group.form-actions {
border-top: 1px solid #dddddd;
padding-top:10px;
}



a span.continue-reading{
color:#fff;
background-color: #333;
transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
width: auto;
cursor: pointer;
padding: 6px 10px;
font-size: 11px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
}


.courseDetails .control-label{
    margin:0;
    text-align:left;
    font-weight: bold;
     color: #41414c;
}

.courseDetails .modal-body{
  padding: 1em;
}

.courseDetails .form-group{
    margin-bottom: 0px;
}

.courseDetails .modal-header{
  margin: 0;
  padding: 10px;
}

ul.chooseLang.flagList{
  margin-left:13px;
}

ul.flagList{
  margin: 0;
  padding: 11px 0px 0px 0px;
  list-style-type: none;
}

ul.flagList li{
    float: left;
    margin-right: 5px;
}

.enFlag{
    background-image: url('../img/en.png');
    background-repeat: no-repeat;
    width:18px;
    heigth:12px;
}

.ptFlag{
    background-image: url('../img/pt.png');
    background-repeat: no-repeat;
    width:18px;
    heigth:12px;
}
.esFlag{
    background-image: url('../img/es.png');
    background-repeat: no-repeat;
    width:18px;
    heigth:12px;
}

.itFlag{
    background-image: url('../img/it.png');
    background-repeat: no-repeat;
    width:18px;
    heigth:12px;
}
.deFlag{
    background-image: url('../img/de.png');
    background-repeat: no-repeat;
    width:18px;
    heigth:12px;
}

.frFlag{
    background-image: url('../img/fr.png');
    background-repeat: no-repeat;
    width:18px;
    heigth:12px;
}


ul.e-inlineblock{
  display:inline-block;
}

ul.e-inlineblock li:not(.noBorder)  {
  display:inline-block;
  border-right: 1px solid #dddddf;
  padding-right: 40px;
}

ul.e-inlineblock li  {
  display:inline-block;
}


.e-credits{
  float:right;
}

.e-credits p{
  font-size:10px;
}

.rssArticle{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}

.rssArticle h2{
  font-weight: bold;
  font-size:20px;
}

.rssArticle span{
font-size: 11px;
line-height: 16px;
color: #888;
}

.rssArticle a span.continue-reading{
color:#fff;
background-color: #333;
transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
width: auto;
cursor: pointer;
padding: 6px 10px;
font-size: 11px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
}

a.more-link span:hover {
	background-color: #000;
}

.rssArticle .date {
  font-weight: bold;
  float: left;
  font-size: 42px;
  margin-right: 10px;

}

.rssArticle .date .month {
  display:block;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.rssArticle .date .day {
    display:block;
font-size: 30px;
font-weight: bold;
color: #000;
text-align: center;
}



.e-teacherlist{
  margin-top:10px;
  margin-bottom: 0;
}



.e-teacherlist h2{
    font-size:14px;
    color:#27272e;
    font-weight:bold;
}

.e-teacherlist  li{
    list-style-type: none;
}

.e-teacherlist img{
    float: left;
    padding-right:1em;
}

.e-coursehightlight{
padding: 10px;
box-shadow: 1px 1px 5px #808086;
background-color: #ffffff;
bbackground-color: #eeeeee;
}

.e-coursehightlight img{
    width: 100%;
}

.e-coursehightlight h1{
    color: #DBA530;
    margin:0;
}


.panel-heading.e-panel-heading {
    background-color:#27272E;
    color:#DBA530;
}

.e-dashboard{
  border: 0px;
}

.e-mycourse{
  border-bottom: 1px solid #dddddd;
  padding: 0px 5px 20px 20px;
}


.e-mycourse img{
  margin-top: 0px;
  margin-top: 25px;
}

.e-mycourse h2{
    word-break: break-word;
}

.e-mycourse a.button, .e-form a.button, .e-coursehightlight a.button, .e-mycourse span.e-info{
  display: block;
  color: #27272e;
  border: 2px solid #27272e;
  #padding: 10px 15px;
  padding: 10px 25px 10px 15px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  transition: background-color .1s ease-in-out,color .1s ease-in-out;
}

.e-mycourse span.e-info{
  cursor: default;
}
.e-coursehightlight a.button{
    width: 70%;
}

.e-mycourse a.button:hover, .e-form a.button:hover, .e-coursehightlight a.button:hover{
  background-color: #27272e;
  color: #fff;
}
.e-mycourse a.button:hover path, .e-form a.button:hover path,  .e-coursehightlight a.button:hover path{
  fill: #fff;
}

.e-mycourse a.button svg, .e-form a.button svg, .e-coursehightlight a.button svg{
  #float: right;
  #position: relative;
  #top: -4px;
    position: absolute;
    top: 16%;
    right: 22px;
}

.e-mycourse a.button svg path, .e-form a.button svg path, .e-coursehightlight a.button svg path{
  fill: #000;
  transition: fill .1s ease-in-out;
}


.e-progress-bar {
  display: table;
  width: 100%;
}

.e-progress-bar > div{
  display: table-cell;
}

.e-progress-bar h4{
  color: #27272e;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  float: left;
}

.e-progress-bar p{
  font-size: 16px;
  float: right;
}

.e-progress-bar p:after{
  content: "";
  display: block;
  clear: both;
}

.e-progress{
  min-width: 100px;
  width: 100%;
  height: 10px;
  background-color: #eeeeee;
  position: relative;
}

.e-progress span {
  display: block;
  height: 100%;
  background-color: #BE7314;
  position: absolute;
  top: 0;
  left: 0;
}


.e-coursehightlight a.button{
  display: block;
  color: #27272e;
  border: 2px solid #27272e;
  background: none;
  padding: 10px 15px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  transition: background-color .1s ease-in-out,color .1s ease-in-out;
}


.e-coursehightlight a.button:hover{
  background-color: #27272e;
  color: #fff;
}

.e-coursehightlight a.button:hover path{
  fill: #fff;
}

.e-coursehightlight a.button svg{
  float: right;
  position: relative;
  top: -4px;
}

.e-coursehightlight a.button svg path{
  fill: #000;
  transition: fill .1s ease-in-out;
}

div#body_viewContainer_teacherform label.checkbox span{
  font-weight: normal;
}

.navbar-nav > li > a.e-btn-extra{
    border-radius: 35px;
    background-image: url(../img/btn_back.png);
    background-repeat: no-repeat;
    background-position: left top;
    font-size: 0.8em;
    font-weight: bold;
    color: #000;
    padding-top: 23px;
    padding-right: 6px;
    padding-bottom: 23px;
    padding-left: 75px;
    display: block;
    margin-top:-5px;
    width:300px;
}

.navbar-nav > li > a.e-btn-extra:hover{
    color:#fff!important;
}


.navbar-nav > li.active > a.e-btn-extra{
    background-color: #fff!important;
    color:#000!important;
}

.navbar-nav > li.active > a.e-btn-extra:hover{
    background-color: #fff!important;
    color:#fff!important;
}

label.e-form-chapter{
  color: white;
  font-size: 18px;
  background-color: #DBA530;
  padding: 10px;
}

.e-form a span {
  font-weight: bold;
}

.button.e-btn-submit{
  background-color:  #DBA530;
}

.e-form .k-invalid-msg {
    font-weight: bold;
}

.main_banner h1{
    font-weight: bold;
    font-size: 60px;
    color: #eaaf31;
}



ul.e-ecosocialbuttons{
  display: block;
  position: relative;
  top: -11px;
}

ul.e-ecosocialbuttons li{
  display: inline;
  margin-left:20px;
}

ul.e-ecosocialbuttons li a{
  font-size: 2em;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  text-decoration: none;
}

ul.e-ecosocialbuttons li a:hover {
  color: #58585B;
  text-decoration: none;
}

ul.e-ecosocialbuttons li a:focus {
  text-decoration: none;
}


div.e-top-header{
    position: fixed;
    background-color: #ffb743!important;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 20;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

div.e-top-header2{
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 20;
    border-bottom: 2px solid #ffb743;
    top: 33px;
    z-index: 100;
}

.navbar {
    margin-bottom:0px;
    border-radius: 0px;
    background-color: #eeeeee;
}

.navbar-collapse{
    padding-top:0px;
}

.e-o365-button{
    position: absolute;
    right: 110px;
    bottom: 0px;
    width: 25%;
}





div.e-maincontent{
    margin-top: 135px;
    padding-top:0px;
}

div#body_viewContainer_mainCaroussel{
    mmin-height: 270px;
    overflow: hidden;
}

.e-logo {
    margin-right:30px;
}

.e-main{
    font-size: 16px;

}

div.e-top-header ul.social{
  float: left;
}

div.e-top-header ul.e-languageflags{
  float: right;
}

div.e-top-header ul{
  list-style:none;
  height: 32px;
  z-index: 1000;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

div.e-top-header ul li{
    float: left;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;

}

div.e-top-header ul li a{
  font-size: 1.2em !important;
    padding: 8px 10px 8px 10px!important;
    height: 32px!important;
    display:block;
    height: 24px;
    position: relative;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    background-position: center top;
        line-height: 1.4285714285714em!important;
            border-left: 1px solid rgba(0,0,0,0.1);
    text-transform: capitalize;
    font-size: 1em;
    line-height: 1.7142857142857em;
    font-weight: 600;
    color: #0a0a0a!important;
    text-decoration: none;
}

nav.e-topmenu{
    border-radius: 0px;
}


a.navbar-brand{
  padding:0;
}

nav{
  font-weight: 600;
  color: rgb(10,10,10);
}



footer{
    background-color: #313233!important;
    color: #eaeaea;
    font-family: 'Open Sans';
    font-kerning: auto;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
}

footer h4{
    color: #d8d8d8;
    font-size: 0.85714285714286em;
    letter-spacing: 0.14285714285714em;
    text-transform: uppercase;
    margin: 0 0 20px ;

}

footer p img{
    margin-bottom:15px;
}

footer .row{
  padding: 55px 0px;
    margin-bottom: 0px;
}



footer ul{
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}


footer ul li{
    border-bottom: 1px solid rgba(0,0,0,0.1)!important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.0980392);
    list-style: none;
    margin-bottom: 0px;
    padding: 0px 0px!important;

}

footer ul li a{
    color: #eaeaea!important;
    text-decoration: underline;
    transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
}

footer ul li a:hover{
    color: #EDA432!important;
    text-decoration: underline;
}


footer p {
    padding-bottom: 20px;
}

footer .widget{
    margin-bottom: 30px;
}


footer iframe{
  margin-top:-16px!important;
}



img.e-logo{
    max-width: 215px;
}

.navbar{
  border:0px;
}

.row.e-courseSuggestionItem{
    overflow:hidden;
    min-height: 55px;
    #border-bottom: 1px solid rgb(204,204,206);
    cursor: pointer;
    margin-bottom: 7px;
}

.row .e-courseSuggestionItem:hover{
    box-shadow: 2px 2px 4px #808086;
    background-color: #F8F8F8;
}

.row.e-courseSuggestionItem > .col-xs-3{
    box-sizing: border-box;
    padding: 0;
}

.row.e-courseSuggestionItem > .col-xs-8{
    box-sizing: border-box;
}


.e-courseSuggestions{
    margin-bottom:10px;
}

.e-courseSuggestions > .row{
  margin:0px;
}


#courseSuggestionList{
  border:none;
}

.e-courseSuggestions h2{
    color: #27272e;
    font-size: 18px;
    font-weight: 600;
}

a.e-link{
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    color:black;
    cursor: pointer;
}

.e_teacher_faq .p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.e_teacher_faq .et_margen { margin-bottom:20px;}

.e_teacher_faq .et_header{
	background-image: url(http://project.ecolearning.eu/wp-content/uploads/2015/08/cabecera1.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #FFF;
	font-size:1.3em;
	    padding: 0px 0px 36px 0px;
}

.e_teacher_faq .et_header h1 {
	font-family: "Open Sans";
	font-size: 1.85714em;
	font-weight: normal;
}

.e_teacher_faq .e_tracher_gen{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Open Sans";
	color: #333;
}
.e_teacher_faq .e_tracher_gen a{color: #333; }
.e_teacher_faq .e_techer_esquema { }

.e_teacher_faq .e_techer_faq {}
.e_teacher_faq .e_techer_faq h3{
font-family: Open Sans;
    font-size: 1.3571428571429em;
    line-height: 1.5em;
    font-weight: 600;}




.e_teacher_faq .eteacher_cr  {
	font-size: 2em;
	color: #000!important;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 120px;
	background-image: url(http://project.ecolearning.eu/wp-content/uploads/2016/01/ico_eteacher3.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.e_teacher_faq .eteacher_center { text-align:center;}
.e_teacher_faq .eteacher_cr p{
	font-weight: bold;
	text-align: right;
	color: #000!important;
	}

.e_teacher_faq .eteacher_cr h2{
	font-weight: bold;
	font-size: 0.8em!important;
	color: #000!important;
	text-align: center!important;
}

.e_teacher_faq .eteacher_tit  {
	font-size: 1.1em;
	color: #000!important;
	text-align: center!important;
}

.e_teacher_faq .eteacher_tit p{ text-align: center; color: #000!important;}

.e_teacher_faq .eteacher  {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: 1.2em;
	color: #000!important;
	background-image: url(http://project.ecolearning.eu/wp-content/uploads/2016/01/flecha_bt2.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 50px;
	padding-left: 15px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #EDA432;
	border-right-color: #EDA432;
	border-left-color: #EDA432;
}

.e_teacher_faq .eteacher p{ text-align: center; color: #000!important;}


.e_teacher_faq .eteacher_no  {
	border: 3px solid #EDA432;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:15px;
	font-size: 1.2em;
	color: #000!important;


}

.e_teacher_faq .eteacher_no p{ text-align: center; color: #000!important;}

.e_teacher_faq .eteacher_b { font-weight: bold!important;}

.e_teacher_faq .eteacher_si{
	background-color: #EDA432;
	color: #000!important;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font-size: 1.8em;
	font-weight: bold;
	margin-right: 20%;
	margin-left: 20%;
	text-align: center;
	margin-bottom:20px!important;
}


.e_teacher_faq .eteacher_si p{ text-align: center; color: #000!important;}

.e_teacher_faq .e_teacher_clear {clear:both}

.e_teacher_faq .et_cola {
	width:25%;
	float:left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

.e_teacher_faq .et_colc_l {
	width:35%;
	float:left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}


.e_teacher_faq .et_colc_r{
	width:35%;
	float:right;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

.e_teacher_faq .et_colc {
	width:50%; min-width:50%;
	float:left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

.e_teacher_faq .et_col {
	width:33%;
	float:left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

.e_teacher_faq .img_lef img {
	float:left;
	margin:10px;
	}

.e_teacher_faq .img_rig img {
	float:right;
	margin:10px;
	}

.e_teacher_faq .et_centrado { text-align:center}



@media only screen and (max-width: 550px) and (min-width: 1px){
 .e_teacher_faq .img_no1 {display:none!important;}
 .e_teacher_faq .img_no2 {display:none;}
 .e_teacher_faq .et_cola { width:90%; margin-left:auto; margin-right:auto;}
 .e_teacher_faq .et_colc { width:90%; margin-left:auto; margin-right:auto;}
 .e_teacher_faq .et_colc_r { width:90%; margin-left:auto; margin-right:auto;}
 .e_teacher_faq .et_colc_l { width:90%; margin-left:auto; margin-right:auto;}
}


.oops {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-family: 'Open Sans', sans-serif;
}

.oops_logo {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.oops_logo img {
    width: 100%;
    height: auto;
}

.oops_ooops {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #ffb743;
}

.oops_ooops img {
    width: 100%;
    height: auto;
}

.oops_txt {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    font-size: 1.7em;
    line-height: 1.5em;
    text-align: center;
}



.office365-sub .panel-heading  {
    margin: 0px;
    background-color: #ffb743;
    font-family: 'Michroma', sans-serif;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-weight: bold;
}


.office365-sub .panel-heading  h2.panel-title {
    font-size: 1.8em;
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
}

.office365-sub .panel-heading h2 strong {
    font-size: 1.5em;
}

.office365-sub .ss_bg {
    background-image: url(../img/ss_ico_bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 30px;
}

.office365-sub .ss_lang {
    font-size: 1.5em;
    background-image: url(../img/ss_ico_lag.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    margin-bottom: 20px;
}

.office365-sub .ss_course {
    font-size: 1.5em;
    background-image: url(../img/ss_ico_course.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
}

@media only screen and (max-width: 450px) and (min-width: 1px)
{
div.pop_mov {background-image: none!important; margin-right: 20px!important; padding-left: 20px!important; min-height:auto!important;}

div.pop_mov h3, div.pop_mov h4{ margin: 0px!important; }
}


.k-pager-wrap{
    border: 0;
    background-color: transparent;
    -webkit-touch-callout: none;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    line-height: normal;
    outline: 0;
    border-style: solid;
    padding: .333em 0 .333em .25em;
    display: inline-block;
}

.k-pager-wrap .k-link {
    background-color: transparent;
    border-color: #d4cfcf;
    border-width: 2px;
    float: left;
    margin: 0 .08333em;
    text-align: center;
    border-radius: 0;
    padding: 0;
    min-width: 2.429em;
}


.k-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.k-pager-numbers {
    margin: 0 2px;
}
.k-animation-container, .k-animation-container *, .k-animation-container :after, .k-block .k-header, .k-list-container, .k-widget, .k-widget *, .k-widget :before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.k-pager-numbers .k-current-page {
    display: none;
}
.k-pager-input, .k-pager-numbers li {
    float: left;
}

.k-pager-numbers .k-link, .k-pager-wrap>.k-link {
    height: 2.429em;
    line-height: 2.429em;
    border-style: solid;
}

.k-pager-wrap .k-link.k-state-disabled .k-icon {
    opacity: .25;
}



.k-pager-wrap .k-link.k-state-disabled .k-icon {
    opacity: .25;
}

.k-icon:not(.k-loading):not(.k-i-loading), .k-mobile-list .k-check:checked, .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-mobile-list .k-edit-field [type=radio]:checked, .k-state-active .k-tool-icon, .k-state-active.k-state-hover .k-tool-icon, .k-state-hover .k-tool-icon, .k-state-selected .k-tool-icon, .k-state-selected.k-state-hover .k-tool-icon, .k-tool-icon {
    background-image: url(Material/sprite_2x.png);
    -webkit-background-size: 340px 336px;
    background-size: 340px 336px;
}

.k-pager-wrap>.k-link {
    border-style: solid;
}

.k-pager-wrap .k-link:link,.k-pager-wrap .k-link:visited,.k-pager-wrap .k-nav-current.k-state-hover .k-link {
    color: #555555;
}

.k-pager-wrap .k-pager-numbers .k-state-selected {
    padding: 0;
    margin: 0px 2px 0px 2px;
    background-color: #ffb743;
    border-color: #d4cfcf;
    border-width: 2px;
    min-width: 2.429em;
    line-height: 2.429em;
    cursor: pointer;
    border-style: solid;
    text-align: center;
    display: inline-block;
    color: #555555;
}

.k-pager-wrap .k-link:hover {
    border-color: #ffb743;
}

.k-link.k-pager-nav, ul.k-pager-numbers.k-reset li{
      margin-right: 1em;
}


.k-icon, .k-sprite {
    background-color: transparent;
}
.k-icon, .k-sprite, .k-tool-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -ms-high-contrast-adjust: none;
    vertical-align: middle;
}

.k-i-arrow-w {
    background-position: 0 -48px;
}

.k-i-arrow-e{
    background-position: 0 -16px;
}


.k-i-seek-e {
    background-position: 0 -80px;
}

.k-i-seek-w {
    background-position: 0 -112px;
}


.icon-filter {
    color: #eda432;
}

.k-multiselect.k-header {
    border-color: #9e9b9b;
}




.k-multiselect-wrap li.k-button{
    background-color: #ffbc00;
}

.container-fluid > .row {
    #margin-left: 0;
    #margin-right: 0;
}


.e-mycourse  .row{
    box-sizing: border-box;
}

.e-mycourse .col-sm-1, .e-mycourse .col-sm-2, .e-mycourse .col-sm-3, .e-mycourse .col-sm-4,.e-mycourse .col-sm-5, .e-mycourse .col-sm-6, .e-mycourse .col-sm-7, .e-mycourse .col-sm-8, .e-mycourse .col-sm-9, .e-mycourse .col-sm-10, .e-mycourse .col-sm-11, .e-mycourse .col-sm-12{
    box-sizing: border-box;
}

.e-mycourse.k-state-selected{
  background-color: #fff;
}

.e-mycourse.k-state-selected{
  background-color: #fff;
  color: #444;
}


div.e-course-langinfo{
    position: absolute;
    bottom: 10px;
}

div.e-course-langinfo ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

div.e-course-langinfo li{
  float:left;
  margin-right:7px;
}

.navbar-nav > li > a.e-btnLogin{
    text-transform: uppercase;
    color: #fff;
    background-color: #ffb743;
    padding: 9px;
}

.navbar-nav > li > a.e-btnLogin > .icon-user{
color: #ffffff;
}

.navbar-nav > li > a.e-btnLogin:hover{
    background-color: #f99100;
    color: #fff!important;
}



.navbar-nav > li > a.e-btnRegister{
    text-transform: uppercase;
    color: #fff;
    background-color: #999;
    padding: 9px;
    margin-left:10px;
    margin-right:10px;
}

.navbar-nav > li > a.e-btnRegister:hover{
    background-color: #646464;
}

.e-btn-normal{
    text-transform: uppercase;
    background-color: #eeeeee;
    padding: 9px;
    border:2px solid;
    border-color:  #646464;
    box-shadow: 3px 3px 10px #808086;
}

.e-btn-normal:hover{
    color: #f99100;
    border-color:  #999;
}


.e-newsitems{
    color: #5d5d5d;
}


.e-newsitems h2{
  font-weight: bold;
}

.e-newsitems ul{
    list-style-type: none;
    padding:0;
}

.e-newsitems ul li{
    margin-bottom: 15px;
}

.e-newsitems ul li .e-newstitle{
    display: block;
    text-decoration: underline;
}

.e-newsitems ul li .e-newsdate{
    display: block;
    font-style: italic;
}

